@if (isLoginPage()) {
  <router-outlet></router-outlet>
} @else {
  <div class="layout">
    <aside class="sidebar">
      <h1>Vitalis Tech</h1>
      <p>Sistema de Gestão de Emergências</p>

      <nav>
        <a routerLink="/dashboard">Dashboard</a>
        <a routerLink="/ocorrencias">Ocorrências</a>
        <a routerLink="/ocorrencias/nova">Cadastrar Ocorrência</a>
        <a routerLink="/equipes">Equipes</a>
        <a routerLink="/atendimentos">Atendimentos</a>

        @if (authService.isAdmin()) {
          <a routerLink="/equipes/nova">Cadastrar Equipe</a>
          <a routerLink="/recursos">Recursos</a>
          <a routerLink="/recursos/novo">Cadastrar Recurso</a>
          <a routerLink="/relatorios">Relatórios</a>
          <a routerLink="/atendimentos/novo">Cadastrar Atendimento</a>
        }

        <button type="button" class="logout-btn" (click)="sair()">
          Sair
        </button>
      </nav>
    </aside>

    <main class="content">
      <router-outlet></router-outlet>
    </main>
  </div>
}
