<div class="login-container">
  <div class="login-card">
    <div class="login-header">
      <h1>Vitalis Tech</h1>
      <p>Sistema de Gestão de Emergências</p>
    </div>

    <div class="tabs">
      <button
        type="button"
        [class.active]="modo === 'LOGIN'"
        (click)="modo = 'LOGIN'; erro = ''; sucesso = ''"
      >
        Entrar
      </button>

      <button
        type="button"
        [class.active]="modo === 'CADASTRO'"
        (click)="modo = 'CADASTRO'; erro = ''; sucesso = ''"
      >
        Criar conta
      </button>
    </div>

    @if (modo === 'LOGIN') {
      <div class="form-group">
        <label>Nome</label>
        <input [(ngModel)]="nome" name="nome" placeholder="Digite seu nome" />
      </div>

      <div class="form-group">
        <label>CPF</label>
        <input [(ngModel)]="cpf" name="cpf" placeholder="000.000.000-00" />
      </div>

      <button class="btn-login" type="button" (click)="entrar()">
        Entrar no sistema
      </button>
    }

    @if (modo === 'CADASTRO') {
      <div class="form-group">
        <label>Nome completo</label>
        <input [(ngModel)]="nomeCadastro" name="nomeCadastro" placeholder="Ex: João Silva" />
      </div>

      <div class="form-group">
        <label>CPF</label>
        <input [(ngModel)]="cpfCadastro" name="cpfCadastro" placeholder="000.000.000-00" />
      </div>

      <button class="btn-login" type="button" (click)="cadastrar()" [disabled]="salvando">
        {{ salvando ? 'Cadastrando...' : 'Cadastrar usuário' }}
      </button>
    }

    @if (erro) {
      <div class="error-box">{{ erro }}</div>
    }

    @if (sucesso) {
      <div class="success-box">{{ sucesso }}</div>
    }
  </div>
</div>
